body{
  background:#020617;
  color:white;
  font-family:system-ui;
}

.center{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-card,.card{
  background:#020617;
  padding:2rem;
  border-radius:14px;
  width:320px;
  box-shadow:0 0 40px rgba(56,189,248,.3);
  animation:pop .6s ease;
}

input,select,button{
  width:100%;
  margin:.6rem 0;
  padding:.7rem;
  border-radius:8px;
  border:none;
}

button{
  background:#38bdf8;
  font-weight:600;
  cursor:pointer;
}

.admin-nav{
  display:flex;
  justify-content:space-between;
  padding:1rem;
  background:#020617;
}

@keyframes pop{
  from{transform:scale(.8);opacity:0}
  to{transform:scale(1);opacity:1}
}
